In [22]:
Introduction to datatypes in  python:
    1.String     = str
    2.Integers   = int
    3.List       = list
    4.Tuples     = tuple
    5.Dictionary = dict
    
Classsification Of Datatypes:
    1. Mutable datatype
    2. Immutable datatype
    
    Muttable datatype:
        
        The datatype which can be able to edit/modify once ot has been declared.
    
    Immutable datatype:
        
        The datatype which we cannot be able to edit/modify once it has been declared

om thakare

In [ ]:

Introduction to string datatype:
    Defination : A string is nothing but a series of characters.
    
    Classification : It is classified as an Immutable datatype.
        
    How to define a string : ===> 3 possible ways.
        
    1. Single Quotes
    2. Double Quotes
    3. Triple Quptes
    
    String is represented in the shortfrom as str ===> str

In [4]:
name1 = 'om'    #single quotes
print (name1)

om

In [5]:
name2 = "tejas"     # Double Quates
print(name2)

tejas

In [7]:
name3 = """pratik"""   #Triple Quates
print(name3)

pratik

In [ ]:
Introduction to builtin methods of a string.

In [ ]:
1. Understanding the variables in python.

In [13]:
x = 5

y = 6

In [16]:
x+y

11

In [ ]:
#variables are value holders that has been associatee to it.

In [ ]:
2. Rules for declaring the variable name.

In [ ]:
Rule No.1= no name space while declaring variable name.

In [17]:
#example==
first name = 'om'  # Invalid Syntax
print(first name)

SyntaxError: invalid syntax (<ipython-input-17-fcfefc6ac0f1>, line 2)

In [18]:
first_name = 'om'   # valid syntax
print(first_name)

om

In [ ]:
Rule No. 2= variable name should not start with a number.

In [19]:
#example ===
1name = 'om' #Invalid Syntax
print(1name)

SyntaxError: invalid syntax (<ipython-input-19-70981af53f61>, line 2)

In [20]:
name1 = 'om thakare'   #valid Synttax
print (name1)

om thakare

In [ ]:
Rule No. 3=  Variable name should not conntain any special character(!@#$%^&*)

In [25]:
#example===
name@ = 'om'    #Invalid Syntax
print(name@)

SyntaxError: invalid syntax (<ipython-input-25-d41a534c6e16>, line 2)

In [26]:
name = 'om'    #Valid Syantax
print(name)

om

In [ ]:
#************Day 3*********************

In [27]:
name = 'om thakare'
print(name)

om thakare

In [28]:
type(name)    #to check which type of variable are there

str

In [29]:
print(name)  #Printing variable output

om thakare

In [32]:
print(name.title()) #title case() we use title for giving title to each word

Om Thakare

In [ ]:
#Convert Entire name in to Capitals

In [41]:
name11 = "om thakare"
print(name11.upper())   #Upper Case

OM THAKARE

In [ ]:
#convert Entire name in lower

In [42]:
name12 = "OM THAKARE"
print(name12.lower())  #Lower case

om thakare

In [ ]:
#Introduction to f string
general syntax of an f string

f"{placeholder} {paceholder}" #refrencing point for the above variables we have created.

In [45]:
first_name = 'pratik'
last_name = 'rathod'

In [ ]:
#req: get full name

In [46]:
fullname = f"{first_name} {last_name}"
print(fullname)

pratik rathod

In [ ]:
#Enhancement of the code...

In [47]:
print(fullname.title())  #Title Case

Pratik Rathod

In [48]:
print(fullname.upper())  #Upper Case

PRATIK RATHOD

In [49]:
print(fullname.lower())  #Lower Case

pratik rathod

In [ ]:
#Adding Whitespacees to strings:

In [50]:
print('indiaismycountry.allindiansaremybrouthersandsisters')

indiaismycountry.allindiansaremybrouthersandsisters

In [ ]:
#Enhancement of the code...

In [51]:
print('india\nis\nmy\ncountry.')  #\n use for new line

india
is
my
country.

In [52]:
print('india\tis\tmy\tcountry.')    #\t use for tab bitween two words

india	is	my	country.

In [53]:
print('slogan:\n\tindia\n\tis\n\tmy\n\tcountry.')   #we can use both according to our need

slogan:
	india
	is
	my
	country.

In [26]:
first_name= 'om'
last_name='thakare'
fullname = f"{first_name} {last_name}"
print(fullname)

om thakare

In [35]:
print('slogan:\tindia\tis\tmy\tcountry.')

slogan:	india	is	my	country.