In [1]:
num =[25,12,36,95,14]   # we difine list with similar type of data

In [2]:
num

[25, 12, 36, 95, 14]

In [3]:
num [0]

25

In [4]:
num[4]

14

In [5]:
num [2:]

[36, 95, 14]

In [6]:
num[-1]

14

In [7]:
num[-4]

12

In [8]:
names=['om','navin','pratik']

In [9]:
names     # we can add string in list also

['om', 'navin', 'pratik']

In [10]:
values = [9.5,'om',25]

In [11]:
values      # we can add mix variable like float,string,integer also in list

[9.5, 'om', 25]

In [12]:
mil =[num,names]

In [13]:
mil #we can use lists in list, we can define multiple number of list in list

[[25, 12, 36, 95, 14], ['om', 'navin', 'pratik']]

In [14]:
num.append(45) # we can change values in the list its mutable

In [15]:
num

[25, 12, 36, 95, 14, 45]

In [ ]:
num.clear

In [16]:
num.insert(2,77)  #it will add 77 value in the list at 2 position

In [17]:
num

[25, 12, 77, 36, 95, 14, 45]

In [18]:
num.remove(36)    # it will remove 36 value in the list

In [19]:
num

[25, 12, 77, 95, 14, 45]

In [20]:
num.pop(1)   # it will remove value from position base on index number 1

12

In [21]:
num

[25, 77, 95, 14, 45]

In [22]:
num.pop()   # if we use pop without provinding value or index number it will remove last enter value in the list

45

In [23]:
num  # removed 45 last value

[25, 77, 95, 14]

In [24]:
del num[2:]   #3 it will delete multiple value from 2 to end of list

In [25]:
num

[25, 77]

In [26]:
num.extend([29,12,14,36])  # it will add multiple value start add value from last

In [27]:
num

[25, 77, 29, 12, 14, 36]

In [28]:
min(num)   #it will print min value in the list

12

In [29]:
max(num)  # it will print  max value in the list

77

In [31]:
sum(num)  #it will print sum of values in the list

193

In [32]:
num.sort()   # it will print values in sorted format

In [33]:
num

[12, 14, 25, 29, 36, 77]